<section id="view-ostukorv" class="view">
  <div class="container">
    <div class="subhead">
      <button class="back" data-back>← Tagasi</button>
      <h2>Sinu ostukorv</h2>
    </div>
    <div class="cart-area">
      <div class="list" id="cartList"></div>
      <div class="cart-summary">
        <div class="row total-row">
          <div><strong>Kokku:</strong></div>
          <span class="price" id="cartTotal">0,00 €</span>
        </div>
        <div class="cart-actions">
          <button class="btn" id="checkout">Mine maksma</button>
        </div>
      </div>
    </div>
  </div>
</section>
