<div id="productModal" class="product-modal" aria-hidden="true">
  <div class="product-modal__overlay" data-modal-dismiss></div>
  <div class="product-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="productModalTitle" tabindex="-1">
    <button class="product-modal__close" type="button" aria-label="Sulge" data-modal-dismiss>×</button>
    <img id="productModalImage" class="product-modal__image" alt="" />
    <div class="product-modal__body">
      <h3 id="productModalTitle"></h3>
      <p class="product-modal__price" id="productModalPrice"></p>
      <p class="product-modal__description" id="productModalDescription"></p>
      <button class="btn product-modal__action" type="button" id="productModalAdd">Lisa ostukorvi</button>
    </div>
  </div>
</div>
